<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="connstr" providerName="System.Data.SqlClient" connectionString="server=(localdb)\MSSQLLocalDB;
         database=training;integrated security = true ;"/>
  </connectionStrings>
</configuration>